doctype html
html
  head
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel='bookmark' href='/favicon.ico' type='image/x-icon')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel="stylesheet", href="/bootstrap.css")
    link(rel="stylesheet", href="/reset.css")
    block css
    block scripts
    title CFC Airdrop
  body
    block content